---
layout: default
show_subtitle: true
---


<ul class="post-list">
  {% for post in paginator.posts %}

    {% assign minutes = post.content | number_of_words | divided_by: 180 %}

    {% if minutes == 0 %}
      {% assign read-time = "Less than a minute read" %}
    {% else %}
      {% assign read-time = minutes | append: "&nbsp;" | append: "min read" %}
    {% endif %}

    <li>
      <article>
        <a href="{{ post.url | prepend: site.baseurl }}" class="no-underline"><h2>{{ post.title }}</h2></a>
        <span class="meta">{{ post.date | date: site.date_format }} • {{ read-time }}</span>

        <p>
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
          {% endif %}
        </p>
      </article>
    </li>

  {% endfor %}
</ul>

{% include pagination.html %}
