---
layout: default
show_subtitle: true
---

<section class="posts">
  <ul>
    {% for post in paginator.posts %}

      {% assign minutes = post.content | number_of_words | divided_by: 180 %}

      {% if minutes == 0 %}
        {% assign read-time = "Less than a minute read" %}
      {% else %}
        {% assign read-time = minutes | append: "&nbsp;" | append: "min read" %}
      {% endif %}

      <li>
        <article>
          <a href="{{ post.url | prepend: site.baseurl }}" class="no-underline">
            <h1>{{ post.title }}</h1>
          </a>
          <div class="meta"><span>{{ post.date | date: site.date_format }} • {{ read-time }}</span></div>

          <p>
            {% if post.summary %}
              {{ post.summary }}  
            {% endif %}
          </p>

          <a href="{{ post.url | prepend: site.baseurl }}" class="read-article">
            Read article &rarr;
          </a>
        </article>
      </li>

    {% endfor %}
  </ul>
</section>

{% include pagination.html %}
