<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {% if page.title %}
  {{ page.title }} • {{ site.title }}
  {% else %}
  {{ site.title }} • Long Hoang Tran's personal blog
  {% endif %}
</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css?{{ site.time | date: '%s%N' }}">
<link rel="shortcut icon" href="/assets/img/favicon.png?{{ site.time | date: '%s%N' }}" type="image/x-icon">
<script src="{{ site.baseurl }}/js/prism.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171055258-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-171055258-1');
</script>
