<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {% if page.title %}
    {{ page.title | strip_html }} • {{ site.title }}
  {% else %}
    {{ site.title }} • Array&lt;Thoughts | Ideas&gt;
  {% endif %}
</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css?{{ site.time | date: '%s%N' }}">
<link rel="shortcut icon" href="/assets/img/favicon.png?{{ site.time | date: '%s%N' }}" type="image/x-icon">
<script src="{{ site.baseurl }}/js/prism.js"></script>
