<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
  {% if page.title %}
  {{ page.title }} •
  {% endif %}
  {{ site.title }} • Long Hoang Tran's personal blog
</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="{{ site.baseurl}}/css/style.css">
<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
<script src="{{ site.baseurl }}/js/prism.js"></script>
