$post-spacing: 2.5rem;

.posts {
  display: inline-block;

  ul {
    margin: 0;
    margin-top: -$post-spacing;

    li {
      margin-top: $post-spacing;
      border: 1px solid transparent;

      article {
        a {
          margin: 0;
          text-decoration: none;
          color: $font-color-default;

          &:hover, &:active {
            color: $font-color-primary;
          }

          h1 {
            font-size: 1.8rem;
            margin-bottom: 4px;
          }
        }

        p {
          margin: 4px 0 5px;
        }
      }
    }
  }
}

.post {
  margin-top: 4rem;
  padding-bottom: 3em;

  h2, h3, h4, h5, h6, figure {
    margin: 2.75rem 0 1.05rem;
  }

  h1 {
    margin-bottom: 16px;
  }

  img {
    max-width: 100%;
  }

  ul {
    list-style: disc;
    padding-left: 2rem;

    li {
      line-height: 1.35;
    }
  }

  .author {
    display: flex;
    flex-direction: row;

    .avatar {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 8px;
    }

    div {
      display: flex;
      flex-direction: column;

      span {
        line-height: 1.2rem;
      }
    }
  }
}

.meta, .post-meta {
  font-size: 0.9rem;
  font-weight: 300;
  font-family: $font-family-sans-serif;
  color: $font-color-light;
  line-height: 1rem;
}

.read-article {
  font-size: 0.9rem;
  font-family: $font-family-monospace;

  &:visited {
    color: $font-color-default !important;

    &:hover {
      color: white !important;
    }
  }
}
