@import "variables";
@import "mixins";

html {
  font-family: $font-family-serif;
  font-size: 16px;
  color: $font-color-default;
  overflow: visible;
  height: 100vh;
}

body {
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

h1 {
  font-size: 3.6rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

p {
  line-height: 1.7rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

figure {
  max-width: 100%;
  margin: 16px 0;

  figcaption {
    margin: 0.7rem 2rem;

    font-family: $font-family-sans-serif;
    font-size: 0.8rem;
    text-align: center;
  }
}

a:not(.no-underline) {
  color: $font-color-default;
  text-decoration: none;
  @include underline(0.2rem, 0.2rem, $font-color-primary);

  &:hover {
    color: $background-color-default;
    background-color: $font-color-primary;
  }

  &:visited {
    color: #7D7D7D;

    &:hover {
      color: $background-color-default;
    }
  }
}

code, pre {
  font-family: $font-family-monospace;
  font-size: 0.9rem;
  border-radius: 0.25rem;
  line-height: 1;
  z-index: 1;
}

code:not([class*="language-"]) {
  padding: 0 0.3rem 0.15rem 0.3rem;
  color: $font-color-code-foreground;
  background-color: $font-color-code-background;
}

pre[class*="language-"] {
  margin: 1.6rem 0;
  padding: 1rem 1.25rem;
  line-height: 1.4rem;
}

code[class*="language-"] {
  position: relative;
  display: inline-block;
  min-width: 100%;
  line-height: inherit;
}

.line-highlight {
  position: absolute;
  left: -1.25rem;
  right: -1.25rem;

  line-height: inherit;
  pointer-events: none;

  background-color: white;
  opacity: 0.08;
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
	content: none;
}
