.pagination {
  display: flex;
  flex-direction: row;
  margin: 2.5rem 0;
  font-family: $font-family-sans-serif;
  font-weight: 700;

  a {
    line-height: 1.8rem;

    &:visited {
      color: $font-color-default;
    }
  }

  .newer {
    margin-right: auto;
  }

  .older {
    margin-left: auto;
  }
}
