.pagination {
  display: flex;
  flex-direction: row;
  margin: 2.5rem 0;

  a:visited {
    color: $font-color-default;
  }

  .newer {
    margin-right: auto;
  }

  .older {
    margin-left: auto;
  }
}
