@import url('https://fonts.googleapis.com/css?family=Poppins:300,600,600i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');

$font-family-serif: "EB Garamond", serif;
$font-family-sans-serif: "Poppins", sans-serif;
$font-family-monospace: "Roboto Mono", monospace;

$screen-breakpoint: 415px;

$background-color-default: white;
$font-color-default: #2E2E2E;
$font-color-light: #AAAAAA;
$font-color-primary: #CF3D3D;
$font-color-primary-light: #e6abab;
$font-color-secondary: #E3BC2D;
$font-color-code-foreground: #f1ece0;
$font-color-code-background: #1D1D1D;
