@import url('https://fonts.googleapis.com/css?family=Poppins:700');
@import url('https://fonts.googleapis.com/css?family=Fira Sans:100,200,300,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');
@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-family-serif: "Literata", serif;
$font-family-sans-serif: "Fira Sans", sans-serif;
$font-family-brand: "Poppins";
$font-family-monospace: "Roboto Mono", monospace;

$screen-breakpoint: 415px;

$background-color-default: white;
$font-color-default: #2E2E2E;
$font-color-light: #888888;
$font-color-primary: #DB3E46;
$font-color-primary-light: #e6abab;
$font-color-secondary: #E3BC2D;
$font-color-code-foreground: #f7f4ec;
$font-color-code-background: #1D1D1D;
