@import "variables";
@import "mixins";

html {
  font-family: $font-family-serif;
  font-size: 16px;
  color: $font-color-default;
  overflow: visible;
  height: 100vh;
}

body {
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

h1 {
  font-size: 3.6rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

p {
  line-height: 1.8rem;
}

ul {
  list-style: none;
}

a:not(.no-underline) {
  color: $font-color-default;
  text-decoration: none;
  @include underline(0.2rem, 0.2rem, $font-color-primary);

  &:hover {
    color: $background-color-default;
    background-color: $font-color-primary;
  }

  &:visited {
    color: #7D7D7D;

    &:hover {
      color: $background-color-default;
    }
  }
}

.highlight {
  margin-left: 0;
  margin-right: 0;

  code {
    padding: 1rem;
  }
}

code:not(.hljs) {
  padding: 0.1rem 0.25rem;
  font-family: $font-family-monospace;
  font-size: 0.9rem;
  color: $font-color-code-foreground;
  background-color: $font-color-code-background;
  border-radius: 0.25rem;
}

code.hljs {
  font-size: 0.9rem;
  overflow-x: scroll;
  width: 100%;
}
